:root {
    --main-bg-clr: rgb(12, 22, 53);
    --img-bg-clr: rgb(68, 0, 20);
    --font-clr: rgb(238, 173, 14);
    --quote-font-size: 1.2rem;
    --header-margin: 2rem 0;
}

body {
    height: 100%;
    width: 0 auto;
    background: var(--main-bg-clr);
    color: var(--font-clr);
}

h1,
h2,
h3 {
    text-align: center;
    margin: var(--header-margin);
}

.chefs,
.reviews {
    width: 100%;
    margin: 5% 0;
}

header,
.chefs-info,
.reviews-container,
.reviews {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chefs-info,
.reviews-container {
    gap: 10%;
}

header,
.reviews {
    flex-direction: column;
}

.alfredo,
.remy,
.ego {
    text-align: center;
}

.alfredo-container,
.remy-container,
.ego-container {
    height: 150px;
    width: 150px;
    background-color: var(--img-bg-clr);
    border-radius: 50%;

    overflow: hidden;
}

#alfredo-img {
    height: 350px;
    transform: translateX(-22%) translateY(-5%);
}

#remy-img {
    height: 250px;
    transform: translateX(-40%) translateY(5%);
}

.reviews-container {
    width: 50%;
}

#ego-img {
    height: 250px;
    transform: translateX(-18%);
    flex: 1;
}

#ego-review {
    font-style: italic;
    font-size: var(--quote-font-size);
}
