:root {
    --main-bg-clr: rgb(12, 22, 53);
    --img-bg-clr: rgb(68, 0, 20);
    --font-clr: rgb(238, 173, 14);
    --h1-font-size: 3rem;
    --h2-font-size: 2rem;
    --quote-font-size: 1.2rem;
    --header-margin: 2rem 0;
}

body {
    height: 100vh;
    margin: 0 auto;
    background: var(--main-bg-clr);
    color: var(--font-clr);
}

h1,
h2,
h3 {
    text-align: center;
    margin: var(--header-margin);
}

h1 {
    font-size: var(--h1-font-size);
}

h2 {
    font-size: var(--h2-font-size);
}

h3 {
    font-size: var(--quote-font-size);
}

hr {
    border-width: 0;
    background: var(--font-clr);
}

.header-line {
    width: 85%;
    height: 2px;
}

.divider {
    width: 40%;
    height: 1px;
}

/* Main Page */

.chefs,
.reviews {
    width: 100%;
    margin: 5% 0;
}

header,
.dividers,
.chefs-info,
.reviews,
.reviews-container,
.menu-item,
.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews-container,
.chefs-info {
    gap: 10%;
}

header,
.reviews,
.menu-item,
.contact-info {
    flex-direction: column;
}

.alfredo,
.remy,
.ego {
    text-align: center;
}

.alfredo-container,
.remy-container,
.ego-container {
    height: 150px;
    width: 150px;
    background-color: var(--img-bg-clr);
    border-radius: 50%;

    overflow: hidden;
}

.reviews-container {
    width: 50%;
}

#ego-img {
    height: 250px;
    transform: translateX(-18%);
}

#ego-review {
    font-style: italic;
    font-size: var(--quote-font-size);
}

#alfredo-img {
    height: 350px;
    transform: translateX(-22%) translateY(-5%);
}

#remy-img {
    height: 250px;
    transform: translateX(-40%) translateY(5%);
}

/* Menu & Contact Pages */
.starters,
.entrees,
.desserts,
.contact-info {
    width: 100%;
}

.menu-item > p,
.contact-info > p {
    width: 70%;
    text-align: center;
}